<component 
	:is="field.fieldType"
	:value="ActiveFormData[field.name]"
	:guid="guid"
	:formType="formType"
	:validateOnBlur="formSettings == null ? false : formSettings.validateOnBlur == null ? false : formSettings.validateOnBlur"
	:silentValidation="formSettings == null ? false : formSettings.silentValidation == null ? false : formSettings.silentValidation"
	:showValidationCheckmarks="formSettings == null ? false : formSettings.showValidationCheckmarks == null ? false : formSettings.showValidationCheckmarks"
	:enableServerValidation="formSettings == null ? false : formSettings.enableServerValidation == null ? false : formSettings.enableServerValidation"
	:autoSaveValidFields="formSettings == null ? false : formSettings.autoSaveValidFields == null ? false : formSettings.autoSaveValidFields"
	:submitToServer="formSettings == null ? false : formSettings.submitToServer == null ? false : formSettings.submitToServer"
	:debugMode="formSettings == null ? false : formSettings.debugMode == null ? false : formSettings.debugMode"
	:formReadOnly="computedReadOnly"
	:formReadOnlyLock="formReadOnlyLock"
	:rules="field.rules"
	@change="updateField(field.name, $event)"
	v-bind="field"
	:data="field.fieldType == 'DynaForm' ? ActiveFormData[field.name] : null"
	:instanceId="instanceId"
	:formName="formName"
	:targets="targets"
	:autoFocusField="formSettings.autoFocusField"
	:showConfirmDialog="showConfirmDialog"
	:showMessageDialog="showMessageDialog"
	:hideMessageDialog="hideMessageDialog"
	:messageDialog="messageDialog"
	:containerInstanceId="containerInstanceId"
></component>